*{
    padding: 0px;
    
}
html{
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    background-image: linear-gradient(to right, #692c72, #8f2f76, #b23575, #d34070, #ee5166);
}
body{
   
  margin: 0;
}
*,*:before,*:after{
box-sizing: inherit;
}

h1{
    margin-top: 0;
}
.site-wrap{
    max-width: 700px;
    margin: 100px auto;
    background-color: rgb(233, 233, 233);
    padding: 40px;
    text-align: justify;
    
    border-radius: 5px;
    box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.6);
    padding: 50px 50px;
}
.align-left {
    float:left;
    margin-right:20px;
  }
  .align-right {
    float:right;
    margin-left:20px;
  }
  .align-left.slide-in {
    transform:translateX(-30%) scale(0.95);
  }
  .align-right.slide-in {
    transform:translateX(30%) scale(0.95);
  }
  .slide-in{
      opacity: 0 ;
      transition: all .5s;
  }
  .slide-in.active {
    opacity:1;
    transform:translateX(0%) scale(1);
  }